.navbar {
  width: 1585px;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

/* Top part */
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: rgb(61, 61, 238);
  margin-left: 20px;
}

.categories-nav-a {
  margin-right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-nav-a img{
  width: 50px;
}

.categories-nav-a a {
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
  color: #002f34;
  font-weight: 700;
}

.actions {
  display: flex;
  align-items: center;
}

.actions .login {
  margin-right: 20px;
  font-size: 16px;
  color: #002f34;
  background-color: #f8f9fb;
  font-weight: bold;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.sell-btn {
  background: linear-gradient(to right, #ffce32, #23e5db, #3a77ff);
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #002f34;
}

.cart-link {
  position: relative;
  display: flex;
  background: linear-gradient(to right, #ffce32, #23e5db, #3a77ff);
  color: black;
  padding: 6px 18px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 520;
}


.cart-text {
  font-size: 15px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #ff3b3b;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
}

.dashboard-btn{
  background: linear-gradient(to right, #ffce32, #23e5db, #3a77ff);
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #002f34;
  margin-left: 20px;
}

.logout-btn{
  background: linear-gradient(to right, #ffce32, #23e5db, #3a77ff);
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #002f34;
  margin-left: 20px;
}

/* Bottom part */
.navbar-bottom {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #ddd;
  /* position: fixed; */
}

.location {
  padding: 20px 250px;
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 6px;
  margin-left: 100px;
  margin-right: 20px;
  background-color: white;
  color: black;
}

.search-input {
  flex: 1;
  padding: 20px 10px;
  border: 1px solid black;
  border-radius: 6px 0 0 4px;
  outline: none;
  background-color: white;
}

.search-btn {
  padding: 20px 14px;
  background: #002f34;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-weight: bold;
  margin-right: 70px;
}


.profile-btn {
  background-color: white;
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

